.smallIcon {
	font-size: 2px;
}

.custom-header {
	margin-top: 200px;
}

.top-pad-4px {
	padding-top: 4px;
}

.bg-white {
	background-color: #fff;
}

.custom-hover figure {
	background-image: url("../img/hover.png");
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin: 0 auto;
}

.custom-hover figure img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.custom-hover figure:hover img {
	opacity: .5;
}
